html {
  font-style: Montserrat, sans-serif;
}
body {
  background-color: #23263a;
}
.hero_section--heading {
  font-style: Montserrat, sans-serif;
}

.line {
  border-bottom: #dc4452 solid 10px;
  width: 15rem;
}
.sperate_skill {
  display: flex;
}

.navbar-toggler {
  background-color: white;
}
