@media (max-width: 576px) {
  .my-4 {
    width: 0%;
    height: 0%;
  }
  .small-screen-nor {
    padding: 0%;
    margin: 0%;
  }
  .increase-width {
    width: 400px;
  }

  .opticaity-large {
    display: none;
  }
  .Show-content {
    display: flex !important;
    flex-direction: column;
    gap: 30px;
  }

  .decrease-width {
    width: 180px !important;
  }
}
.opticaity-small {
  display: none;
}
